div.err-msg {
  color: red;
  margin: 10px 0 10px 0;
}

.bkg {
  background-image: url('../../assets/auth_bkg_2.jpg');
  max-width: 800px;
  margin: 0 auto;
  background-position: center;
  background-repeat: no-repeat;
}
