<div class="mw-100 vh-100 d-flex flex-column justify-content-between align-items-center text-bg-light bkg">
  <h1 class="card-title mt-3" style="color:white">Awesome Lists</h1>
  <div class="card px-5" style="background-color: transparent; color: white; border: 1px solid white">
    <div class="card-body text-center">
      <!-- <h3 class="card-title">Awesome Lists {{auth.loginMode}}</h3> -->

      <!-- <p class="card-subtitle mb-2">Your main tool to organize lists</p> -->
      <form [formGroup]="form">
        <div class="mb-2">
          <input *ngIf="auth.loginMode === 'Register'" class="form-control" required type="text" placeholder="Name" formControlName="name">
        </div>
        <div class="mb-2">
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email">
        </div>
        <div class="mb-4">
          <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password">
        </div>
        <button type="button" class="btn btn-outline-light w-100 mb-2" (click)="handleButtonClick()">{{buttonText}}</button>
      </form>
      <!-- <div>Forgot password?</div> -->
      <button type="button" class="btn btn-danger w-100 mb-2" (click)="googleSignIn()">
        Google Sign In
      </button>
      <button *ngIf="auth.loginMode === 'Login'" type="button" class="btn btn-outline-light w-100" (click)="switchForm('Register')">Register for Free</button>
      <div *ngIf="auth.loginMode !== 'Login'" (click)="switchForm('Login')" role="button">Back to Login</div>
      <div class="err-msg"><a *ngIf="err">{{err}}</a></div>
    </div>
  </div>
  <div></div>
</div>
