<div class="card m-3" *ngIf="topic">
  <div class="card-header d-flex justify-content-between" [style.background-color]="topic.color">
    <div>
      <span *ngIf="!editMode" class="text-truncate fw-semibold" [style.color]="getTextColor()">{{topic.name}}</span>
      <input type="text" *ngIf="editMode" class="text-truncate fw-semibold" [(ngModel)]="topic.name"/>
      <div class="card-subtitle" style="font-size: 0.8rem;" [style.color]="getTextColor()">Last Updated: {{topic.last_updated}}</div>
    </div>
    <span>
      <input [value]="topic.color" type="color" style="width: 30px;" id="colorpicker" name="colorpicker" (change)="setTopicColor($event)"/>
    </span>
  </div>
  <form #sForm [formGroup]="form">
    <div class="d-flex input-group" *ngIf="topic.d">
      <button class="btn bi bi-calendar3" (click)="d.toggle()" type="button">Date</button>
      <input required #d="ngbDatepicker" class="form-control" name="dp" ngbDatepicker formControlName="date"/>
    </div>
    <div class="d-flex input-group p-1">
      <input *ngIf="topic.n" type="text" required aria-label="Name" class="form-control" placeholder="Name" formControlName="name">
      <input *ngIf="topic.c" [attr.list]="topic.id" required type="text" aria-label="Category" class="form-control" placeholder="Category" formControlName="category">
      <datalist [id]="topic.id">
        <option *ngFor="let cat of topic.categories" [value]="cat">
      </datalist>
      <input *ngIf="topic.v" type="number" aria-label="Value" class="form-control" placeholder="Value" formControlName="value" style="max-width: 80px;">
      <button *ngIf="!itemEdited" class="btn btn-primary" type="button" id="button-add" (click)="addTopicItem()">Add</button>
      <button *ngIf="itemEdited" class="btn btn-success" type="button" id="button-save" (click)="saveItem()">Save</button>
    </div>
  </form>
  <div class="card-body p-0">
    <div class="list-group list-box-items" *ngIf="topic.items">
      <li *ngFor="let item of topic.items; let i = index" class="list-group-item list-group-item-action d-flex w-100">
        <input class="form-check-input me-1" type="checkbox" [name]="item.ts + i" [(ngModel)]="item.selected" aria-label="...">
          <div class="d-flex justify-content-between w-100">
            <div *ngIf="item.date" class="text-muted mr-2">
              {{item.date.month}}/{{item.date.day}}
            </div>
            <div class="mb-1" [class.completed]="item.done">{{item.name}}</div>
            <small class="text-muted">{{item.category}}</small>
            <span *ngIf="item.value || item.value == 0" class="badge bg-primary">{{item.value}}</span>
          </div>
      </li>
      <p *ngIf="topic.v && topic.calcTotal" class="p-2 fw-semibold d-flex flex-row-reverse">Total: {{getTotalValue()}}</p>
    </div>
  </div>
  <div class="card-footer bg-secondary bg-gradient d-flex flex-row-reverse justify-content-between" style="--bs-bg-opacity: .5;">
      <div ngbDropdown class="d-flex">
        <svg *ngIf="editMode" xmlns="http://www.w3.org/2000/svg" role="button" (click)="save()" width="24" height="24" color="green" fill="currentColor" class="bi bi-save mx-3" viewBox="0 0 16 16">
          <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
        </svg>
        <svg id="dropdownBasic1" ngbDropdownToggle xmlns="http://www.w3.org/2000/svg" role="button" width="24" height="24" fill="currentColor" class="bi bi-three-dots-vertical dropdown-toggle" data-bs-toggle="dropdown" viewBox="0 0 16 16">
          <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
        </svg>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button *ngIf="topic.completable" ngbDropdownItem (click)="completeItems()" class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
              <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
              <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
            </svg>
            <span class="mx-2">Mark items as done</span>
          </button>
          <button ngbDropdownItem (click)="editItemMode()" class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
              <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
            <span class="mx-2">Edit Item</span>
          </button>
          <button ngbDropdownItem (click)="removeItems()" class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
            <span class="mx-2">Remove Items</span>
          </button>
          <button ngbDropdownItem (click)="setEditMode()" class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
            </svg>
            <span class="mx-2">Edit</span>
          </button>
          <button ngbDropdownItem (click)="deleteTopic()" class="d-flex align-items-center" style="color: brown;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
            </svg>
            <span class="mx-2">Delete Topic</span>
          </button>
        </div>
      </div>
      <svg *ngIf="!topic.favourite" (click)="setFavourite()" xmlns="http://www.w3.org/2000/svg" role="button" style="color: rgb(255, 255, 7)" width="24" height="24" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg>
      <svg *ngIf="topic.favourite" xmlns="http://www.w3.org/2000/svg" role="button" style="color: rgb(255, 255, 0)" width="24" height="24" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
      </svg>
  </div>
</div>
