<div class="mw-100 vh-100 d-flex flex-column justify-content-center align-items-center text-bg-light">
  <div class="card px-5">
    <div class="card-body text-center">
      <h3 class="card-title">Awesome Lists Login</h3>
      <p class="card-subtitle mb-2 text-body-secondary">Your main tool to organize lists</p>
      <div class="mb-3">
        <input type="email" class="form-control" id="email" placeholder="Email">
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="d-grid gap-2 col-4 mx-auto mb-4">
        <button type="button" class="btn btn-outline-primary">Login</button>
      </div>
      <div>Forgot password?</div>
      <div>Sign Up for free</div>
    </div>
  </div>

</div>

