<div class="mw-100 d-flex flex-column bg-primary-subtle text-bg-light">
  <div class="d-flex flex-row mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" role="button" (click)="open(content)" width="32" height="32" fill="currentColor" class="bi bi-list m-2" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>
  <div class="d-flex flex-column flex-wrap w-100 justify-content-center align-items-center" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
    <div class="topic-card" *ngFor="let card of data; let i = index" cdkDrag>
      <app-topic [topic]="card" (saveAction)="ds.updateTopic($event)" (deleteHandler)="deleteTopic($event)" (setFavouriteHandler)="makeFavourite($event)"></app-topic>
    </div>
  </div>
</div>

<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Hi Misha</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
	</div>
	<div class="offcanvas-body">
		<form>
			<div class="mb-3">
				<div class="input-group">
					<input #newtopic
						id="topic-name"
						class="form-control"
						name="topic-name"
            placeholder="New Topic Name"
					/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="addTopic(newtopic)" type="button">Add</button>
				</div>
			</div>
		</form>
	</div>
</ng-template>
