<div class="mw-100 d-flex flex-column bg-primary-subtle text-bg-light" style="min-height: 100vh">
  <div class="d-flex flex-row mb-3">
    <svg xmlns="http://www.w3.org/2000/svg" role="button" (click)="open(content)" width="32" height="32" fill="currentColor" class="bi bi-list m-2" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>
  <div class="d-flex flex-column flex-wrap w-100 justify-content-center align-items-center" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="drop($event)">
    <div class="topic-card" *ngFor="let card of data; let i = index" cdkDrag>
      <app-topic [topic]="card" (saveAction)="ds.updateTopic($event)" (deleteHandler)="deleteTopic($event)" (setFavouriteHandler)="makeFavourite($event)"></app-topic>
    </div>
  </div>
</div>

<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Hi {{auth.user!.name}}</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss()"></button>
	</div>
	<div class="offcanvas-body">
		<form>
			<div class="mb-3">
				<div class="input-group">
					<input #newtopic id="topic-name" class="form-control" name="topic-name" placeholder="New Topic Name"/>
					<button class="btn btn-outline-secondary bi bi-calendar3" (click)="addTopic(newtopic)" type="button">Add</button>
				</div>
			</div>
      <div class="d-flex mb-3 justify-content-between">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="newTopicOptions.name" id="nameOption" name="nameOption">
          <label class="form-check-label" for="nameOption">
            Name
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" [(ngModel)]="newTopicOptions.date" id="dateOption" name="dateOption">
          <label class="form-check-label" for="dateOption">
            Date
          </label>
        </div>
        <div class="form-check">
          <input #catOption class="form-check-input" type="checkbox" [(ngModel)]="newTopicOptions.cat" id="catOption" name="catOption">
          <label class="form-check-label" for="catOption">
            Category
          </label>
        </div>
        <div class="form-check">
          <input #valOption class="form-check-input" type="checkbox" [(ngModel)]="newTopicOptions.val" id="valOption" name="valOption">
          <label class="form-check-label" for="valOption">
            Value
          </label>
        </div>
      </div>


		</form>
    <div class="card">
      <div class="card-body"  style="background-color: '#ffc784'">
        <h6 class="card-title d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-person-square" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
            <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1v-1c0-1-1-4-6-4s-6 3-6 4v1a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12z"/>
          </svg>
          <span role="button" class="mx-2">Profile</span>
        </h6>
        <p>ID: {{auth.user!.uid}}</p>
        <p>Email: {{auth.user!.email}}</p>
        <div class="mb-3">
          <div class="input-group">
            <input #profilename id="profile-name" class="form-control" disabled name="profile-name" [value]="auth.user!.name" placeholder="Name"/>
            <button class="btn btn-outline-secondary bi bi-calendar3" disabled (click)="changeProfileName(profilename)" type="button">Change</button>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="d-flex align-items-center" (click)="logout()">
          <svg xmlns="http://www.w3.org/2000/svg" role="button" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
            <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
          </svg>
          <span role="button" class="mx-2">Log out</span>
        </div>
      </div>
    </div>

	</div>
</ng-template>
